/bin/
/vendor/
.DS_Store
/.phpunit.result.cache

/.idea/workspace.xml
/.idea/deployment.xml
/.idea/dataSources.*
/.idea/dataSources
/.idea/dictionaries/*
/.idea/php-test-framework.xml
.idea/dbnavigator.xml
